<div class="container">
  <%= render 'shared/flash_messages' %>
</div>
<div class="row">
  <div class="col-12">
    <h1 class="fw-bold">スキルマップ一覧</h1>
  </div>
  <div class="col-12 mt-2">
    <%= link_to "新規作成", new_sheet_path, class:"btn btn-light border-2"%>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th class="col-6 fs-6 text-center">シート名</th>
        <th class="col-4 fs-6 text-center">登録日時</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      <% if @sheets.length > 0 %>
        <% @sheets.each do |sheet|%>
          <tr>
            <td class="col-6 fs-6 align-middle text-break ps-4">
              <%= link_to sheet.title, sheet_path(sheet)%>
            </td>
            <td class="col-4 fs-6 align-middle text-center">
              <%= sheet.created_at.strftime("%Y-%m-%d %X")%>
            </td>
            <td class="col-2">
              <%= link_to edit_sheet_path(sheet), class:"btn btn-link",role: "button" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3">
                  <path d="M12 20h9"></path>
                  <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                </svg>
              <% end %>
              <%= link_to sheet_path(sheet), class:"btn btn-link m-0", method: :delete, role: "button" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                  <polyline points="3 6 5 6 21 6"></polyline>
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                  <line x1="10" y1="11" x2="10" y2="17"></line>
                  <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td class="align-middle text-center col-6 p-3 text-light">
            スキルマップが登録されていません
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>










