<div class="container">
  <%= render 'shared/flash_messages' %>
</div>

<!-- 未設定！！！JSに@sheetsを渡す -->
<input type="hidden" id="sheets" value="<%= @sheets %>">

<div class="row">
  <div class="col-12">
    <h1 class="fw-bold mb-5">スキルマップテスト</h1>

    <% unless @sheets.length > 0 %>
      <p class="col-12 p-3">
        スキルマップが登録されていません
      </p>
    <% else %>
      <select id="select-main" class="form-select form-select-lg mb-3">
        <option value="">スキルマップを選択してください</option>
        <% @sheets.each do |sheet| %>
          <option value=<%=sheet.id%>><%= sheet.title %></option>
        <% end %>
      </select>

      <!-- ５つの選択肢 登録機能実装予定のためpartial化 -->
      <%= render "choice" %>
      
      <!-- テーブル -->
      <%= render "table", sheets: @sheets %>
      
      <!-- 得点 -->
      <div class="col-12 text-end p-2 fw-bold fs-5">
        合計：<span id="sum">0</span> / 100 点
      </div>
      
      <!-- フォーム -->
      <div class="col-12">
        <%= form_with model:@document, locale: true do |f| %>
          <%= render "shared/error_messages", model: f.object %>
          <select name="document[sheet_id]" id="form-select">
            <option value="">スキルマップを選択してください</option>
            <% @sheets.each do |s| %>
              <option value=<%=s.id%>><%= s.title %></option>
            <% end %>
          </select>
          <%= f.hidden_field :chose_one, class:"chose" %>
          <%= f.hidden_field :chose_two, class:"chose" %>
          <%= f.hidden_field :chose_three, class:"chose" %>
          <%= f.hidden_field :chose_four, class:"chose" %>
          <div class="d-grid gap-2">
            <%= f.submit "送信する" ,class:"btn btn-primary border-2", id:"submit" %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'document/application' %>

